body {
  width: 100%;
}

#container {
  position: relative;
  height: 600px;
  width: 600px;
  margin: 50px auto;
}

#board {
  height: 600px;
  width: 600px;
  background-color: blue;
  transform-style: preserve-3d;
  transform: rotateX(45deg) rotateZ(45deg) rotateY(0deg);
  text-align: center;
  position: absolute;
}

.scoreboard {
  text-align: center;
}

.wrapper {
  text-align: center;
}

#apple {
  height: 50px;
  width: 50px;
  background-color: red;
  position: absolute;
  content: '';
  float: left;
  top: 0;
  left: 0;
  transform-style: preserve-3d;
  transform: translateX(50px) translate(.1em);
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
  z-index: 2;
}

#head {
  height: 50px;
  width: 50px;
  background-color: purple;
  position: absolute;
  content: '';
  box-shadow: 3em 1.5em 3em rgba(0, 0, 0, .3);
}

#play-again {
  color: orange;
  font-size: 3rem;
}
